@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 360;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1870;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";
// Змінні
@import "_vars.scss";

body {
	background-color: #12161c;
	font-size: toRem(30);
	padding-top: toRem(40);
	font-family: "Onest", sans-serif;
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
}

[class*="__container"] {
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
	width: toRem(1870);
	max-width: 100%;
}

// ====== HERO SECTION ======== //
.page {
	// .page__hero
	&__hero {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}
.hero {
	// .hero__container
	&__container {
		display: flex;
		// width: toRem(1870);
		// max-width: 100%;
		@media (max-width: toEm(767.98)){
			font-size: toRem(28);
			flex-direction: column;
		};
	}
	// .hero__text-body
	&__text-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 1 49%;

		padding-left: toRem(60);
		padding-bottom: toRem(60);
		padding-top: toRem(60);

		background-image: linear-gradient(45deg, rgb(25, 34, 48) 0%, rgb(20, 55, 98) 25%, rgb(15, 71, 139) 50%, rgb(20, 55, 98) 75%, rgb(25, 34, 48) 100%);
	}
	// .hero__logo
	&__logo {
	}
	// .hero__text
	&__text {
		font-size: toRem(79);
		@include adaptiveValue("font-size", 79, 28);
		color: #fff;
		line-height: 110%;
		span {
			color: #377de5;
		}
	}
	// .hero__image
	&__image  {
		width: 51%;
		max-width: 100%;
		img { 
		aspect-ratio: 940 / 800;
		object-fit: cover;
		height: 100%;
		max-width: 100%;
		width: toRem(940);
		
		clip-path: polygon(0 0, 100% 0, 100% 53%, 61% 100%, 0 100%);
	}
		@media (max-width: toEm(992.98)) {
			
		}
	}
}
// ========== SECTION ABOUT ========== //
.page {
	// .page__about
	&__about {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}
.about {
	// .about__container
	&__container {
	}
	// .about__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: toRem(40);
		column-gap: toRem(40);
		@media (max-width: toEm(767.98)) {
			flex-direction: column;
		}
	}
	// .about__item
	&__item {
		flex: 1 1 48%;
		max-width: 100%;

		&--bottom {
			flex: 0 1 100%;
			max-width: 100%;
			min-height: toRem(420);
			background-image: linear-gradient(199deg,#192230 44%,#5a1115 81%,#000 100%);
		}

		&--full {
			max-width: 100%;
			min-height: toRem(420);
			background-image: linear-gradient(199deg,#192230 44%,#5a1115 81%,#000 100%);
		}

		&--body {
			@include adaptiveValue("padding-top", 55, 25);
			@include adaptiveValue("padding-left", 35, 25);
			@include adaptiveValue("padding-right", 60, 25);
		}
		
		@media (min-width: toEm(767.98)) {

		}
	}
	// .about__item-text
	&__item-text {
		@include adaptiveValue("font-size", 30, 22);
		color: #fff;
		line-height: 140%;
		min-height: 100%;
		min-width: 100%;

		&--top {
			min-height: toRem(318);
			@include adaptiveValue("padding-top", 55, 30);
			@include adaptiveValue("padding-bottom", 55, 30);
			@include adaptiveValue("padding-left", 60, 20);
			@include adaptiveValue("padding-right", 60, 20);
			background-image: linear-gradient(45deg, rgb(25, 34, 48) 0%, rgb(20, 55, 98) 25%, rgb(15, 71, 139) 50%, rgb(20, 55, 98) 75%, rgb(25, 34, 48) 100%);
		}
	}

	// .about__item-header
	&__item-header {
		color: #ff4a4a;
		line-height: 110%;
		@include adaptiveValue("font-size", 79, 35);
		
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}

// ========== SECTION OPPORTUNITIES ========= //
.page {
	// .page__opportunities
	&__opportunities {
	}
}
.opportunities {
	// .opportunities__container
	&__container {
		display: flex;
		// max-width: toRem(1840);
		// justify-content: space-between;
		@media (max-width: toEm(767.98)){
			font-size: toRem(28);
			flex-direction: column;
		};
	}
	// .opportunities__image
	&__image {
		width: 51%;
		max-width: 100%;
		img {
			aspect-ratio: 940 / 1127;
			object-fit: cover;
			height: 100%;
			max-width: 100%;
			width: toRem(940);
		
			clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%, 0 63%);
		}
		@media (max-width: toEm(992.98)) {
			
		}
	}
	// .opportunities__body
	&__body {
		width: 49%;
		max-width: 100%;
		@include adaptiveValue("padding-left", 40, 20);
		@include adaptiveValue("padding-right", 40, 20);
		@include adaptiveValue("padding-top", 50, 20);
		background-image: linear-gradient(252deg, #192230 0%, #192230 42.37%, #142d4d 51.56%, #10325a 64.27%, #0f2d51 91.68%, #111822 100%);
	}
	// .opportunities__body-content
	&__body-content {
	}
	// .opportunities__title
	&__title {
		color: #fff;
		@include adaptiveValue("font-size", 79, 35);
		text-align: center;
		line-height: 110%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 20);
		}
	}
	// .opportunities__items
	&__items {
		display: flex;
		flex-direction: column;
		row-gap: toRem(40);
	}
	// .opportunities__item
	&__item {
		min-height: toRem(420);
		@include adaptiveValue("padding-left", 60, 20);
		@include adaptiveValue("padding-right", 90, 20);
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-bottom", 50, 20);
		background-image: linear-gradient(45deg, rgb(25, 34, 48) 0%, rgb(20, 55, 98) 25%, rgb(15, 71, 139) 50%, rgb(20, 55, 98) 75%, rgb(25, 34, 48) 100%);
	}
	// .opportunities__subtitle
	&__subtitle {
		color: #377de5;
		@include adaptiveValue("font-size", 79, 35);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .opportunities__text
	&__text {
		color: #fff;
		line-height: 140%;
	}
}
