@import url("https://fonts.googleapis.com/css?family=Onest:&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
          appearance: none;
}

body {
  background-color: #12161c;
  font-size: 1.875rem;
  padding-top: 2.5rem;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.page__hero:not(:last-child) {
  margin-bottom: 2.5rem;
}

.hero__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .hero__container {
    font-size: 1.75rem;
    flex-direction: column;
  }
}
.hero__text-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 48%;
  padding-left: 3.75rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
  background-image: linear-gradient(45deg, rgb(25, 34, 48) 0%, rgb(20, 55, 98) 25%, rgb(15, 71, 139) 50%, rgb(20, 55, 98) 75%, rgb(25, 34, 48) 100%);
}
.hero__text {
  font-family: "Onest", sans-serif;
  font-size: 4.9375rem;
  color: #fff;
  line-height: 110%;
}
@media (min-width: 118.75em) {
  .hero__text {
    font-size: 4.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (font-size: clamp( 1.75rem , 1.1044303797rem  +  3.2278481013vw , 4.9375rem )) {
    .hero__text {
      font-size: clamp( 1.75rem , 1.1044303797rem  +  3.2278481013vw , 4.9375rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.1044303797rem  +  3.2278481013vw , 4.9375rem )) {
    .hero__text {
      font-size: calc(1.75rem + 3.1875 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .hero__text {
    font-size: 1.75rem;
  }
}
.hero__text span {
  color: #377de5;
}
.hero__image img {
  aspect-ratio: 940/800;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-width: 100%;
  width: 58.75rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 53%, 61% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 53%, 61% 100%, 0 100%);
}
.page__about:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.5rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 47.99875em) {
  .about__items {
    flex-direction: column;
  }
}
.about__item {
  flex: 1 1 48%;
  max-width: 100%;
}
.about__item--bottom {
  flex: 0 1 100%;
  max-width: 100%;
  min-height: 26.25rem;
  background-image: linear-gradient(199deg, #192230 44%, #5a1115 81%, #000 100%);
}
.about__item--full {
  max-width: 100%;
  min-height: 26.25rem;
  background-image: linear-gradient(199deg, #192230 44%, #5a1115 81%, #000 100%);
}
@media (min-width: 118.75em) {
  .about__item--body {
    padding-top: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-top: clamp( 1.5625rem , 1.1827531646rem  +  1.8987341772vw , 3.4375rem )) {
    .about__item--body {
      padding-top: clamp( 1.5625rem , 1.1827531646rem  +  1.8987341772vw , 3.4375rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 1.1827531646rem  +  1.8987341772vw , 3.4375rem )) {
    .about__item--body {
      padding-top: calc(1.5625rem + 1.875 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item--body {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 118.75em) {
  .about__item--body {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-left: clamp( 1.5625rem , 1.4359177215rem  +  0.6329113924vw , 2.1875rem )) {
    .about__item--body {
      padding-left: clamp( 1.5625rem , 1.4359177215rem  +  0.6329113924vw , 2.1875rem );
    }
  }
  @supports not (padding-left: clamp( 1.5625rem , 1.4359177215rem  +  0.6329113924vw , 2.1875rem )) {
    .about__item--body {
      padding-left: calc(1.5625rem + 0.625 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item--body {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 118.75em) {
  .about__item--body {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-right: clamp( 1.5625rem , 1.1194620253rem  +  2.2151898734vw , 3.75rem )) {
    .about__item--body {
      padding-right: clamp( 1.5625rem , 1.1194620253rem  +  2.2151898734vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 1.5625rem , 1.1194620253rem  +  2.2151898734vw , 3.75rem )) {
    .about__item--body {
      padding-right: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item--body {
    padding-right: 1.5625rem;
  }
}
.about__item-text {
  font-family: "Onest", sans-serif;
  color: #fff;
  line-height: 140%;
  min-height: 100%;
  min-width: 100%;
}
@media (min-width: 118.75em) {
  .about__item-text {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (font-size: clamp( 1.375rem , 1.2737341772rem  +  0.5063291139vw , 1.875rem )) {
    .about__item-text {
      font-size: clamp( 1.375rem , 1.2737341772rem  +  0.5063291139vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2737341772rem  +  0.5063291139vw , 1.875rem )) {
    .about__item-text {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-text {
    font-size: 1.375rem;
  }
}
.about__item-text--top {
  min-height: 19.875rem;
  background-image: linear-gradient(45deg, rgb(25, 34, 48) 0%, rgb(20, 55, 98) 25%, rgb(15, 71, 139) 50%, rgb(20, 55, 98) 75%, rgb(25, 34, 48) 100%);
}
@media (min-width: 118.75em) {
  .about__item-text--top {
    padding-top: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-top: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem )) {
    .about__item-text--top {
      padding-top: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem )) {
    .about__item-text--top {
      padding-top: calc(1.875rem + 1.5625 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-text--top {
    padding-top: 1.875rem;
  }
}
@media (min-width: 118.75em) {
  .about__item-text--top {
    padding-bottom: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem )) {
    .about__item-text--top {
      padding-bottom: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.5585443038rem  +  1.582278481vw , 3.4375rem )) {
    .about__item-text--top {
      padding-bottom: calc(1.875rem + 1.5625 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-text--top {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 118.75em) {
  .about__item-text--top {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-left: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem )) {
    .about__item-text--top {
      padding-left: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem )) {
    .about__item-text--top {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-text--top {
    padding-left: 1.25rem;
  }
}
@media (min-width: 118.75em) {
  .about__item-text--top {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (padding-right: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem )) {
    .about__item-text--top {
      padding-right: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.7436708861rem  +  2.5316455696vw , 3.75rem )) {
    .about__item-text--top {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-text--top {
    padding-right: 1.25rem;
  }
}
.about__item-header {
  font-family: "Onest", sans-serif;
  color: #ff4a4a;
  line-height: 110%;
}
@media (min-width: 118.75em) {
  .about__item-header {
    font-size: 4.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 118.75em) {
  @supports (font-size: clamp( 2.1875rem , 1.6305379747rem  +  2.7848101266vw , 4.9375rem )) {
    .about__item-header {
      font-size: clamp( 2.1875rem , 1.6305379747rem  +  2.7848101266vw , 4.9375rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.6305379747rem  +  2.7848101266vw , 4.9375rem )) {
    .about__item-header {
      font-size: calc(2.1875rem + 2.75 * (100vw - 20rem) / 98.75);
    }
  }
}
@media (max-width: 20em) {
  .about__item-header {
    font-size: 2.1875rem;
  }
}
.about__item-header:not(:last-child) {
  margin-bottom: 1.25rem;
}