@import url("https://fonts.googleapis.com/css?family=Onest:&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
          appearance: none;
}

body {
  background-color: #12161c;
  font-size: 1.875rem;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 116.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 2.5rem;
}

.hero__container {
  display: flex;
}
.hero__text-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 56.25rem;
  padding-left: 3.75rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
}
.hero__text {
  font-family: "Onest", sans-serif;
  font-size: 4.9375rem;
  color: #fff;
  line-height: 110%;
}
.hero__text span {
  color: #377de5;
}
.hero__image img {
  aspect-ratio: 940/800;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}